@model TaxiServiceWebUI.Models.ResortListViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <script src="~/js/jquery/jquery.min.js"></script>
</head>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../images/main/mercedes_resort.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("Index","Home")">@localizer["Home"] <i class="ion-ios-arrow-forward"></i></a></span> <span>@localizer["SkiResorts"] <i class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">@localizer["ChooseResort"]</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var resort in Model.Resorts)
            {
                <div class="col-md-4">
                    <div class="car-wrap ftco-animate">
                        <div class="img d-flex align-items-end" style="background-image: url(../images/@resort.ImagePath);">
                            <div class="price-wrap d-flex">
                                <span class="rate">€ @resort.Price</span>
                                <p class="from-day">
                                    <span>@localizer["From"]</span>
                                    <span>/@localizer["Day"]</span>
                                </p>
                            </div>
                        </div>
                        <div class="text p-4 text-center">
                            <h2 class="mb-0"><a href="car-single.html">@resort.FromAddress -  @resort.ToAddress</a></h2>
                            <p class="d-flex mb-0 d-block"><a asp-controller="Reservation" asp-action="ResortInfo" asp-route-id="@resort.Id" class="btn btn-black btn-outline-black mr-1">@localizer["Book"]</a></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

